{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}


    {{ form(form) }}
    {% for todo in todos %}
    <p>todo: {{ todo.text }} date: {{ todo.date|date('d-m-Y') }}</p>
    {% endfor %}

{% endblock %}
